<html>
  <body>
    <h1>Welcome to QuotingDojo!</h1>
    <br>
    <form action="/quotes" method="post">
      Your Name: <input type="text" name="name">
      Your Quote: <textarea name="quote" cols="30" rows="10"></textarea> 
      <br>
      <input type="submit" value="Add my quote">
    </form>
    <form action="/quotes">
      <input type="submit" value="Skip to quotes!">
    </form>
  </body>
</html>