<html>
  <head>
    <title>Quotes</title>
  </head>
  <body>
    <a href="/">Home</a>
    <h2>Here are the AWESOME Quotes!!!</h2>
    <% for (const quote of quotes){ %>
      <p><%= quote.name %></p>
      <p>"<%= quote.quote %>"</p>
    <% } %>

    </div>
  </body>
</html>